body{
    background-color: #444;
}
.mainFrame{
    min-height: 34rem;
    width: 28rem;
    background-color: #333;
    color: white;
    margin: auto auto;
    border-radius: 20px;
    border: 3px solid teal;
}
.title{
    text-align: center;
}

.mainBody{
    padding: 1rem 2rem;
    /* background-color: aqua; */
    height: 23rem;
    overflow: hidden;
    overflow-y: scroll;
    color: black;
    background-color: lightgreen;
    
}

.backgroundImage{
    background-image: url(./Collection\ list\ is\ empty.png);
    background-position: center;
    background-size: contain;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid teal;
    padding: 0 8px;
    border-radius: 20px;
    margin: 10px 0;
}
.item:hover{
    /* animation: eachItem 0.1s forwards ; */
    transform: scale(1.1);
    background-color: rgba(152, 190, 190, 0.685);
}
.item>.fa-circle-check{
    background-color: white;
    color: white;
    
}

.greenTick{
    color: green;
}
.inputBox{
    text-align: center;
    margin-top: 1rem;
    
    
}
.inputBox>input{
    width: 22rem;
    height: 1.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 5px;
}
.inputBox>button{
    height: 1.9rem;
    
}



/* Animations */
@keyframes eachItem {
    from{}
    to{
        font-size: 1.1rem;
        margin-left: 4px;
    }
}
